<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="fv/templates/classic.css">
</head>

<body class="A4">
    <section class="sheet padding-10mm" style="display: flex; flex-direction: column">
        <div class="pre-header">
            <div class="ph-title">
                <p>Miejscowość:</p>
                <p>Data:</p>
            </div>
            <div class="ph-content">
                <p>{{.Seller.City}}</p>
                <p>{{.GetCreatedAt}}</p>
            </div>
        </div>
         <div class="header">
            <p>{{.FV.HeaderPrefix}} {{.FV.NO}}</p>
        </div>
       <div class="contact">
            <div class="c-column">
                <p class="c-header">
                    Sprzedawca:
                </p>
                <div class="c-item">
                    <p>Nazwa firmy:</p>
                    <p class="c-item-content">{{.Seller.Name}}</p>
                </div>
                <div class="c-item">
                    <p>Adres:</p>
                    <p class="c-item-content">{{.Seller.Address}}</p>
                </div>
                <div class="c-item">
                    <p>NIP:</p>
                    <p class="c-item-content">{{.Seller.VatNumber}}</p>
                </div>
                <div class="c-item">
                    <p>Numer konta:</p>
                    <p class="c-item-content">{{.Seller.BankNumber}}</p>
                </div>
            </div>
            <div class="c-column">
                <p class="c-header">
                    Nabywca:
                </p>
                <div class="c-item">
                    <p>Nazwa firmy:</p>
                    <p class="c-item-content">{{.Recipient.Name}}</p>
                </div>
                <div class="c-item">
                    <p>Adres:</p>
                    <p class="c-item-content">{{.Recipient.Address}}</p>
                </div>
                <div class="c-item">
                    <p>NIP:</p>
                    <p class="c-item-content">{{.Recipient.VatNumber}}</p>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="t-row">
                <div class="t-column">Opis</div>
                <div class="t-column">Jednostka miary</div>
                <div class="t-column">Ilość</div>
                <div class="t-column">Cena za jednostkę netto</div>
                <div class="t-column">Wartość netto</div>
                <div class="t-column">Kwota VAT</div>
                <div class="t-column">Wartość brutto</div>
                <div class="t-column">Stawka VAT</div>
            </div>
            {{range $v := .FV.Entries}}
            <div class="t-row">
                <div class="t-column">{{$v.Name}}</div>
                <div class="t-column">{{$v.Unit}}</div>
                <div class="t-column">{{$v.Amount}}</div>
                <div class="t-column">{{printf "%.2f" $v.Price}} zł</div>
                <div class="t-column">{{printf "%.2f" $v.GetNetPrice}} zł</div>
                <div class="t-column">{{printf "%.2f" $v.GetVatPrice}} zł</div>
                <div class="t-column">{{printf "%.2f" $v.GetGrossPrice}} zł</div>
                <div class="t-column">{{$v.Vat}}%</div>
            </div>
            {{end}}
            <div class="t-row t-sum">
                <div class="t-column"></div>
                <div class="t-column"></div>
                <div class="t-column"></div>
                <div class="t-column">Razem</div>
                <div class="t-column">{{printf "%.2f" .GetTotalNetAmount}} zł</div>
                <div class="t-column">{{printf "%.2f" .GetTotalVatAmount}} zł</div>
                <div class="t-column">{{printf "%.2f" .GetTotalGrossAmount}} zł</div>
                <div class="t-column"></div>
            </div>
        </div>
        <div class="summary">
            <div class="c-item">
                <p>Razem:</p>
                <p class="c-item-content">{{printf "%.2f" .GetTotalGrossAmount}} zł</p>
            </div>
            <div class="c-item">
                <p>Słownie:</p>
                <p class="c-item-content">{{.GetAmountStr}}</p>
            </div>
            <div class="c-item">
                <p>Sposób zapłaty:</p>
                <p class="c-item-content">Przelew</p>
            </div>
            <div class="c-item">
                <p>Termin płatności:</p>
                <p class="c-item-content">{{.GetPayday}}</p>
            </div>
            <div class="c-item">
                <p>Data wykonania usługi:</p>
                <p class="c-item-content">{{.GetCreatedAt}}</p>
            </div>
        </div> 
    </section>

</body>

</html>